.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}
body {
  background: #fff;
}
header {
  height: 84px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li a {
  color: #636060;
  font-family: Helvetica;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
}
ul {
  display: flex;
  gap: 50px;
}
.nav {
  display: flex;
}
.fa-solid {
  display: none;
}
.s1 {
  height: 606px;
  background-image: url(../images/bg.png);
  background-color: aquamarine;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  margin: 0 auto;
  margin-bottom: 84px;
}
.s2 {
  display: flex;
  gap: 50px;
  margin-bottom: 100px;
}
.info {
  width: 235px;
}
.ds {
  color: #636060;
  font-family: Helvetica;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}
.hs {
  color: #010101;
  font-family: Helvetica;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 37px;
}
.p1 {
  color: #636060;
  font-family: Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cards {
  max-width: 924px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 56px;
  column-gap: 15px;
}
.card {
  width: 286px;
}
.card img {
  width: 100%;
}
.card h3 {
  color: #343232;
  font-family: Helvetica;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 23px;
  margin-bottom: 9px;
}
.card p {
  color: #636060;
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
